<%- include('header.ejs') %>
    <div class="container p-3">
        <div class="headers">
            <h2 class="active-header">Recs</h2>
            <h2>Following</h2>
            <h2>Trending</h2>
        </div>
        <div class="container posts">
            <% if(locals.post){ %>
                <div class="post">
                    <%- post %>
                </div>
                <% } %>
                    <div class="post">
                        <h1>What is Lorem Ipsum?</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <a class="author" href="">by foobar</a>
                    </div>
                    <div class="post">
                        <h1>What is Lorem Ipsum?</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <a class="author" href="">by foobar</a>
                    </div>
        </div>
    </div>
    <%-include('footer.ejs') %>