.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.headers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.active-header {
    text-decoration: underline;
}

.posts {
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
    justify-content: center;
    align-items: center;
}

.post {
    margin: 25px;
    padding: 25px;
    width: 750px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.15);
}

.author {
    float: right;
    text-decoration: none;
    color: black;
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}